version: "3.8"

services:
  mysql:
    image: mysql:8
    container_name: mysql-school
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: db-school
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 10

  backend:
    image: NourBradai/school:1.0.0
    container_name: school-backend
    depends_on:
      mysql:
        condition: service_healthy
    ports:
      - "8089:8089"
    restart: on-failure

volumes:
  mysql_data:

